@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-neutral-page text-neutral-ink font-body overflow-x-hidden;
    font-weight: 500;
  }

  input,
  textarea,
  button,
  select {
    font-family: inherit;
  }

  ::placeholder {
    color: #AFAFAF;
  }

  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-green-primary;
  }
}
